<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Job Board</h1>
  <% if @visits.count == 0 %>
    <h3>There are no jobs available at this time.</h3>
  <% end %>
  <div id="jobboard">
    <%= render partial: "boardvisit", collection: @visits %>
  </div>

  <%= link_to "Home", root_path %>
</div>

