<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Personal Schedule</h1>

  <div id="jobschedule">
    <%= render partial: "schedulevisit", collection: @visits %>
  </div>

  <%= link_to "Home", root_path %>
</div>

