<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>Personal Schedule</h1>

  <div id="visits">
    <% @visits.each do |visit| %>
        <div class="card">
          <%= render visit %>
          <div class="job-button-leave">
            <%= link_to "Leave Job", visit %>
          </div>
        </div>
    <% end %>
  </div>

  <%= link_to "Home", root_path %>
</div>

