<div class="container">
    <h1>Test page for now</h1>
    <li> <%= link_to "Book Now", "book-now" %></li>
    <li><%= link_to "Job Board", "job-board" %></li>
    <li><%= link_to "Personal Schedule", "schedule" %></li>
    <li><%= link_to "Account", account_path %></li>
</div>